td {
    height: 68px;
    width: 68px;
    font-weight: normal;
}

.table>:not(caption)>*>* {
    padding: 2px;
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}

.mt {
    margin-top: 45px;
}

.black-pawn {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png");
}

.black-castle {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png");
}

.black-horse {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png");
}

.black-bishop {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png");
}

.black-queen {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png");
}

.black-king {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png");
}

.white-pawn {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png");
}

.white-castle {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png");
}

.white-horse {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png");
}

.white-bishop {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png");
}

.white-queen {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png");
}

.white-king {
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png");
}